body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.welcome-section {
    background: linear-gradient(to bottom right, #00d2ff, #3a7bd5);
    padding: 40px;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-logo {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.login-section {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-section p {
    margin-bottom: 20px;
    color: #666;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.input-group input:hover{
    scale: 1.10;
    transition: all 0.2s ease-in-out;
}

.remember-me {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    scale: 1.10;
    transition: all 0.3s ease-in-out;
}

.additional-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.additional-links a {
    color: #007bff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .welcome-section, .login-section {
        padding: 20px;
    }
}
